@import "normalize.scss";
$Color: #DF7401;
* {
    font-family: "Open Sans", Arial;
    box-sizing: border-box;
}
body {
    background-color: #eee;
    border-top: solid 5px $Color;
    padding-top: 50px;
}
.wrapper {
    width: 1000px;
    margin: 0 auto;
}
ul {
    list-style: none;
}
h1,
h2,
h3,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
.shadow {
    border-bottom: solid 2px #ddd;
}
.left {
    float: left;
    width: 250px;
    .widget-title {
        font-weight: normal;
        font-size: 16px;
    }
    .skills {
        .skill-list {
            margin-top: 15px;
            .skill {
                background-color: #eee;
                padding: 3px 7px;
                font-size: 11px;
                float: left;
                margin-right: 3px;
                margin-bottom: 3px;
                border-radius: 3px;
                line-height: 17px;
                color: #555;
            }
        }
    }
    .widget {
        background-color: #fff;
        padding: 15px;
        margin-bottom: 15px;
        &.about-me {
            text-align: center;
            line-height: 22px;
            padding: 45px 15px;
            .job {
                color: $Color;
            }
            .name {
                margin: 15px 0 5px;
                font-size: 24px;
            }
            .image {
                border-radius: 50%;
                width: 100px;
            }
            .location {
                color: #999;
            }
            .email {
                margin-top: 15px;
            }
        }
    }
}
.right {
    width: 735px;
    margin-left: 265px;
    background-color: #fff;
    line-height: 22px;
    > h2 {
        border-bottom: dashed 1px #ddd;
        padding: 15px 30px 12px;
        font-weight: 300;
        font-size: 16px;
        color: #999;
    }
    h3 {
        font-weight: normal;
        padding-left: 30px;
        margin-bottom: 15px;
        font-size: 16px;
        margin-top: 15px;
    }

    .education {
        .vita-list{
            .entry {
                &:last-child {
                    padding-bottom: 30px;
                }
            }
        }
    }

    .vita-list {
        border-left: solid 1px #ddd;
        margin: 0 35px;
        padding-left: 30px;
        .entry {
            padding-bottom: 15px;
            font-size: 16px;
            &::before {
                content: "";
                position: relative;
                left: -35px;
                top: 5px;
                width: 7px;
                height: 7px;
                border: solid 1px $Color;
                display: block;
                border-radius: 50%;
                float: left;
                background-color: #fff;
                margin-right: -9px;
            }
            &:last-child {
                padding-bottom: 15px;
            }
        }
        .period {
            color: #999;
            text-transform: uppercase;
            font-size: 12px;
        }
        .company,
        .name {
            color: $Color;
        }
        .job {

        }
    }
}
.clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
